@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #191527; 
}


.navbar-custom {
  background-color: #191527; 
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand{
  color: white; 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-item:hover
{
  color: #6E57E0;
}
.navbar-brand.logo {
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

.biografia {
  margin: 80px auto; 
  padding: 20px; 
  color: white;
}


.bio-texto {
  
  text-align: center;
  margin-bottom: 40px; 
  padding: 10px 20px;
  color: #6f42c1;
}
button {
  align-self: center;
  background: linear-gradient(90deg, #6f42c1, #9c27b0);
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}

.bio-carousel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.bio-carousel img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.4);
}
.iframe-container {
  position: relative;
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;    
  height: 0;
  padding-top: 56.25%; 
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}
.iframe-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.container-atv{
  border: 2px solid #6f42c1;
}
.container-atv {
  border: 3px solid #6f42c1;
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  background-color: #191527;
}

.prefixo {
  display: block;       
  color: #6f42c1;
  font-weight: 600;
  margin-bottom: 4px;
}

.resto {
  color: white;
  margin: 0;
}


.conteudo-atv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.botao-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.docx-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  height: 500px;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  background: white;
}
