body {
  background-color: #191527; 
  font-family: Arial, sans-serif; 
}


.navbar-custom {
  background-color: #191527; 
}
.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: white; 
}
