@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #191527; 
}


.navbar-custom {
  background-color: #191527; 
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand{
  color: white; 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-item:hover
{
  color: #6E57E0;
}
.navbar-brand.logo {
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}
h1{
  color: aliceblue;
}
.biografia {
  margin: 50px 0;
  color: white;
}

/* Texto */
.bio-texto {
  text-align: center; /* padrão: centralizado */
}

.bio-texto h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #6f42c1; /* roxo Bootstrap */
}

.bio-texto p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.bio-texto button {
  background: linear-gradient(90deg, #6f42c1, #9c27b0);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
}

.bio-texto button:hover {
  transform: scale(1.05);
}


.bio-carousel {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.bio-carousel img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}
